.text + .text {
  margin-top: 1em;
}

.text:last-of-type {
  margin-bottom: 0;
}

.text:first-of-type {
  margin-top: 0;
}

b,
.text--bold {
  font-weight: 700;
}

.text--capitalize {
  text-transform: capitalize;
}

.text--italic {
  font-style: italic;
}

.text--linethrough {
  text-decoration: line-through;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--lowercase {
  text-transform: lowercase;
}

small,
.text--small {
  font-size: var(--small-font-size);
  line-height: var(--small-line-height);
}

// TODO: Helper function?
h1,
.h1 {
  font-size: var(--h1-size);
  line-height: var(--h1-line-height);

  @media (min-width: var(--break-sm)) {
    font-size: var(--h1-size-tablet);
    line-height: var(--h1-line-height-tablet);
  }

  @media (min-width: var(--break-md)) {
    font-size: var(--h1-size-desktop);
    line-height: var(--h1-line-height-desk--h1-size-desktop);
  }
}

h2,
.h2 {
  font-size: var(--h2-size);
  line-height: var(--h2-line-height);

  @media (min-width: var(--break-sm)) {
    font-size: var(--h2-size-tablet);
    line-height: var(--h2-line-height-tablet);
  }

  @media (min-width: var(--break-md)) {
    font-size: var(--h2-size-desktop);
    line-height: var(--h2-line-height-desk--h2-size-desktop);
  }
}

h3,
.h3 {
  font-size: var(--h3-size);
  line-height: var(--h3-line-height);

  @media (min-width: var(--break-sm)) {
    font-size: var(--h3-size-tablet);
    line-height: var(--h3-line-height-tablet);
  }

  @media (min-width: var(--break-md)) {
    font-size: var(--h3-size-desktop);
    line-height: var(--h3-line-height-desk--h3-size-desktop);
  }
}

h4,
.h4 {
  font-size: var(--h4-size);
  line-height: var(--h4-line-height);

  @media (min-width: var(--break-sm)) {
    font-size: var(--h4-size-tablet);
    line-height: var(--h4-line-height-tablet);
  }

  @media (min-width: var(--break-md)) {
    font-size: var(--h4-size-desktop);
    line-height: var(--h4-line-height-desk--h4-size-desktop);
  }
}

h5,
.h5 {
  font-size: var(--h5-size);
  line-height: var(--h5-line-height);

  @media (min-width: var(--break-sm)) {
    font-size: var(--h5-size-tablet);
    line-height: var(--h5-line-height-tablet);
  }

  @media (min-width: var(--break-md)) {
    font-size: var(--h5-size-desktop);
    line-height: var(--h5-line-height-desktop);
  }
}
