/* Spacing
 * Vertical spacing: we are combining EMs and REMs to enforce appropiate and consistent spacing for improved readibility in body content.
 * Horizontal spacing: we are REMs to enforce appropiate and consistent spacing. */
$spacing: 1rem;
$spacing-double: 2rem;
$spacing-slim: 0.5rem;
$spacing-thin: 0.25rem;
$vertical-spacing: 1em 0 0;
$vertical-spacing-slim: 0.5em 0 0;
$vertical-spacing-thin: 0.25em 0 0;
$horizontal-spacing: 0 $spacing;
$horizontal-spacing-double: 0 ($spacing-double);
$horizontal-spacing-slim: 0 $spacing-slim;
$horizontal-spacing-thin: 0 $spacing-thin;

// Snowflake design system
// Todo font-size and line-height sizes to REM's

:root {
  --font-family: 'inter';
  --body-size: 1rem; // 16px
  --body-line-height: 1.5rem; // 24px
  --body-tablet: 1rem; // 16px
  --body-desktop: 1rem; // 16px
  --small-font-size: 0.875rem; // 14px
  --small-line-height: 1rem; // 16px

  --h1-size: 2.5rem; // 40px
  --h2-size: 2rem; // 32px
  --h3-size: 1.5rem; // 24px
  --h4-size: 1.25rem; // 20px
  --h5-size: 1rem; // 16px
  --h1-line-height: 3rem; // 48px
  --h2-line-height: 2.5rem; // 40px
  --h3-line-height: 2rem; // 32px
  --h4-line-height: 1.75rem; // 28px
  --h5-line-height: 1.5rem; // 24px

  --h1-size-tablet: 2.5rem; // 40px
  --h2-size-tablet: 2rem; // 32px
  --h3-size-tablet: 1.5rem; // 24px
  --h4-size-tablet: 1.25rem; // 20px
  --h5-size-tablet: 1rem; // 16px
  --h1-line-height-tablet: 3rem; // 48px
  --h2-line-height-tablet: 2.5rem; // 40px
  --h3-line-height-tablet: 2rem; // 32px
  --h4-line-height-tablet: 1.75rem; // 28px
  --h5-line-height-tablet: 1.5rem; // 24px

  --h1-size-desktop: 3rem; // 48px
  --h2-size-desktop: 2.5rem; // 40px
  --h3-size-desktop: 2rem; // 32px
  --h4-size-desktop: 1.5rem; // 24px
  --h5-size-desktop: 1.125rem; // 18px
  --h1-line-height-desktop: 3rem; // 48px
  --h2-line-height-desktop: 3rem; // 48px
  --h3-line-height-desktop: 2.5rem; // 40px
  --h4-line-height-desktop: 2rem; // 32px
  --h5-line-height-desktop: 1.5rem; // 24px

  --break-sm: 768px;
  --break-md: 1024px;
}
